# Ignorar todos os diretórios node_modules em qualquer lugar
**/node_modules/

# Ignorar arquivos de log
*.log

# Node modules

# Arquivos do Prisma
**/prisma/migrations/


# Arquivos de banco de dados
**/*.db

# Arquivos de configuração de ambiente
.env
.env.*

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log
