<%- include('includes/head') %>

<body>
    <%- include('includes/nav') %>

    <h1>Módulo de Produtos</h1>

    <% if (user.role === 'SUPERUSER' || user.role === 'ADMIN' || user.modules.includes('Produtos')) { %>
        <p>Bem-vindo ao módulo de produtos.</p>
        <!-- Implementação de funcionalidades do módulo de produtos -->
    <% } else { %>
        <p>Você não tem permissão para acessar este módulo.</p>
    <% } %>

</body>
</html>
