<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/adicionar" method="post">
        Titulo: <input type="text" name="titulo"> <br>
        Descricao: <input type="text" name="descricao"> <br>
        Cor: 
        <select name="cor">
            <option value="blue">Azul</option>
            <option value="yellow">Amarelo</option>
            <option value="white">Branco</option>
            <option value="gray">Cinza</option>
        </select> <br>
        Data : <input type="datetime-local" name="data"> <br>
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>